/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #febe7e;
    color: #57385c;
    display: flex;
    min-height: 100vh; 
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    margin: 0;
    padding: 0 0 10px 50px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #57385c;
}

#library_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75px;
    text-shadow: #fc0 1px 0 10px;
    color: #f0ece2;
}

.header button {
    margin: 10px 30px 10px 0;
    background-color: #a75265;
}

button {
    background-color: #57385c;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #f0ece2;
    font-size: 20px;
    padding: 8px 18px;
    margin: 20px 5px 10px 0;
    width: 100%;
}

.modal_container {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.modal label, h2 {
    opacity: 0.7;
}

.modal input {
    margin-left: 25px;
}

.modal button {
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 0px;
}

#close_modal {
    width: 50px;
}

#books_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book {
    border: solid thick #a75265;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 15px 10px;
}




