/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding:0;
}

body {
    background-color: #f0ece2;
    display: flex;
    min-height: 100vh; 
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    margin: 0;
    padding:0;
    padding-top: 20px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #6F4E37;
}

#library_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75px;
    text-shadow: #fc0 1px 0 10px;
    color: #EBDEDE;
}

button {
    background-color: #596e79;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #f0ece2;
    font-size: 45px;
    padding: 10px 25px;
}

.modal_container {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: absolute;
}

.modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.modal label, h2 {
    opacity: 0.7;
}

.modal input {
    margin-left: 25px;
}

.modal button {
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 0px;
}

#books_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*, *:before, *:after { 
    box-sizing: inherit; 
}
*:before, *:after { 
    content: ""; 
  } 
.book{
    
    width:280px;
    height:420px;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;  
    background: #F33139;
    border-radius: 20px 16px 12px 32px;
    background-image: linear-gradient(to right,#D11F2F 48px, #ba0716 50px, transparent 50px);  
  }
  .book:after{
    height: 52px;
    width: 274px; 
    bottom: 6px;
    right:0px;
    background: white;
    border-radius: 32px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
    background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);     
  }
  .book:before{
    height: 20px;
    width: 160px; 
    right: 40px;
    top: 72px; 
    background:#D11F2F;
    border-radius: 20px;
    box-shadow: 0px 36px #D11F2F;
      
  }
